{% extends "base.html" %}

{% block title %}Credits{% endblock %}

{% block content %}
<div class="container mt-4 text-center">
    <h2 class="mb-3">Credits and Acknowledgments</h2>
    <p class="lead">This project is a fan made, non-commercial web-application created for educational and entertainment purposes.</p>

    <h3 class="mt-4">Information sources</h3>
    <ul class="list-unstyled">
        <li><a href="https://awoiaf.westeros.org/" target="_blank">A Wiki of Ice and Fire</a> – Lore and history.</li>
        <li><a href="https://www.hbo.com/game-of-thrones" target="_blank">HBO - Game of Thrones</a> – Official series website.</li>
        <li><a href="https://www.georgerrmartin.com/" target="_blank">George R.R. Martin's Official Site</a> – Author's official page.</li>
    </ul>

    <h3 class="mt-4">Images and media</h3>
    <ul class="list-unstyled">
        <li><a href="https://gameofthrones.fandom.com/wiki/" target="_blank">Wiki of Westeros</a> – House coats.</li>
    </ul>

    <p class="mb-3">Thanks to <a href="https://github.com/ognevushka">ognevushka</a> for help in bug-fixing</p>
    <p>Special thanks to my gf for her love and support ❤</p>

    <a href="{{ url_for('main.home') }}" class="btn btn-primary mt-3">Back to Home</a>
</div>
{% endblock %}