{% estends "base.html" %}

{% block content %}
<div class="container text-center">
    <h1>Westeros Explorer</h1>
    <h2>here will be heading</h2>
    <p>and description</p>

    {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.map') }}" class="btn btn-primary">Explore the map!</a>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
    {% else %}
        <a href="{{ url_for(auth.login) }}" class="btn btn-success">Login</a>
        <a href="{{ url_for(auth.register) }}" class="btn btn-warning">Register now!</a>
    {% endif %}
</div>
{% endblock %}